<!-- Describe task in general -->

<p style="text-align: justify;">
    Тобі надається рядок різних символів (літери, цифри та інші символи). Мета полягає в тому, щоб "витягнути" число з рядка: об'єднати лише цифри, знак числа та "." (якщо вони присутні) і повернути результат у форматі числа. Якщо число не може бути вилучено (без цифр у заданому рядку) - повернути <b class="code"></b>{% if is_js %}null{% else %}None{% endif %}</b>. Прочитай передумови нижче, щоб дізнатися додаткові правила.
</p>
<p>
    <strong>Очікувана поведінка:</strong>
    <ul>
    <li><i>бери до уваги ОСТАННІЙ знак числа перед ПЕРШОЮ цифрою;</i></li>
    <li><i>бери до уваги ПЕРШУ крапку в рядку (гарантовано, що вона йде принаймі після однієї цифри або має хоча б одну цифру після себе). Якщо є крапка - повертай як float, інакше - integer.</i></li>
    </ul>
</p>
<!-- Explain input and output values -->
<p>
    <strong>Вхідні дані:</strong> Рядок (str{% if is_js %}ing{% endif %}).
</p>

<p>
    <strong>Вихідні дані:</strong> {% if is_js %}Число або null{% else %}Ціле число (int), з плаваючою крапкою (float) або None{% endif %}.
</p>


<p>
    <strong>Приклади:</strong>
</p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
