<!-- Describe task in general -->
<img src="{{MEDIA_CONVERT}}title.png" class="title_img" />

https://youtu.be/hSlffi7fMO8
<p style="text-align: justify;">
    Вам задано рядок з різних символів (літер, цифр та інших символів). Потрібно "витягти" з рядка число: об'єднати лише цифри, знак числа та "." (якщо він присутній) і повернути результат у форматі числа. Якщо число не може бути витягнуто (немає цифр у заданому рядку) - повернути <b class="code"></b>{% if is_js %} null{% else %}None{% endif %}</b>.
</p>
<p>
    <strong>Очікувана поведінка:</strong>
    <ul>
    <li><i>враховувати ОСТАННІЙ знак числа перед ПЕРШОЮ цифрою;</i></li>
    <li><i>врахувати ПЕРШУ крапку у рядку (гарантується, що вона йде після принаймні однієї цифри або має принаймні одну цифру після себе). Якщо крапка є, поверніть число з плаваючою комою, інакше - ціле число.</i></li>
    </ul>
</p>
<!-- Explain input and output values -->
<p>
   <strong>Вхідні дані:</strong> Рядок <span>(str{% if is_js %}ing{% endif %})</span>.
</p>

<p>
   <strong>Вихідні дані:</strong> {% if is_js %}Число або <span>null</span>{% else %} Ціле число <span>(int)</span>, float або <span>None</span>{% endif %}.
</p>


<p>
    <strong>Приклади:</strong>
</p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
