<!-- Describe task in general -->

<p style="text-align: justify;">
    You are given a string of different characters (letters, digits and other symbols). The goal is to "extract" the number from the string: concatenate only digits, number sign and "." (if present) and return the result in number format. If no number can be extracted (no digits in the given string) - return <b class="code"></b>{% if is_js %}null{% else %}None{% endif %}</b>.
</p>
<p>
    <strong>Expected behavior:</strong>
    <ul>
    <li><i>take into consideration the LAST number sign before the FIRST digit;</i></li>
    <li><i>take into consideration the FIRST dot in the string (It's guaranteed, that it goes after at least one digit or has at least one digit after). If there is a dot, return as float, otherwise - integer.</i></li>
    </ul>
</p>
<!-- Explain input and output values -->
<p>
    <strong>Input:</strong> String <span translate="no">(str{% if is_js %}ing{% endif %})</span>.
</p>

<p>
    <strong>Output:</strong> {% if is_js %}Number or <span translate="no">null</span>{% else %}Integer <span translate="no">(int)</span>, float <span translate="no">(float)</span> or <span translate="no">None</span>{% endif %}.
</p>


<p>
    <strong>Examples:</strong>
</p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
